@import "src/scss/settings/mixins";

@keyframes logoDrive {
  from{
    transform: translateX(-25vw) rotate(-360deg);

  }
  to{
    transform: translateX(0px) rotate(0deg);
  }
}

header {
  height: calc(100vh - 10px);
  a{
    color: inherit;
  }
  .logo_name{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    height: 10%;
    .logo{
      position: relative;
      display: inline-block;
      margin-top: 110px;
      z-index: 2;
      animation: logoDrive 4s ease;
      height: 12vh;
      @include tablet (600px) {
        height: 15vh;
      }
      @include desktop (800px) {
        height: 20vh;
      }
    }
    div{
      font-size: 2em;
    }
    h3{
      font-size: 1.3em;
      margin-right: 15px;
      margin-top: 5vh;
      border-bottom: 3px solid orangered;
      span {
        font-size: 2.1em;
      }
      @include tablet(650px) {
        font-size: 2em;
        margin-top: 5vh;
        height: 100%;
        border-bottom: 3px solid orangered;
        span {
          font-size: 2.4em;
        }
      }
    }
  }
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 90vw;
    margin: 0 auto;
    overflow-x: hidden;
    margin-top: 60px;


    @include tablet(600px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      margin-top: 0px;
    }
    .carousel_img{
      height: 90%;

      img{
        height: 100%;
      }
    }

    button{
      height: 30%;
      background-color: rgba(212, 141, 1, 0.01);
      border: 1px solid rgba(0, 0, 0, 0);
      width: 5%;
      font-size: 2em;
      font-weight: bold;
      &:first-of-type{
        transform: translateX(100%);
      }
      &:last-of-type{
        transform: translateX(-100%);
      }
    }
  }

}