@import "src/scss/settings/mixins";
.container_vertical{
  background-attachment: fixed;
  scroll-behavior: smooth;
  width: calc(100%);
  overflow-x: hidden;

  .hotel{
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: url("../assets/hotel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    .text_container{
      background-color: rgba(0, 0, 0, 0.75);
      border: 2px solid orangered;
      max-width: 90%;
      margin: 0 auto;
      @include tablet (700px){
        margin-left: 25px;
        max-width: 70%;
      }
    }
    h3{
      color: orangered;
      display: inline-block;
      padding: 20px;
      font-size: 3em;
      margin: 20px;
    }
    p{
      color: white;
      padding: 20px;
      margin: 20px;
      font-size: 1.0em;
      line-height: 30px;
      width: 80%;
      @include tablet (750px){
        font-size: 1.1em;
      }
      @include desktop (1100px){
        font-size: 1.3em;
      }
    }
  }
  .poliuretanowe{
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: url("../assets/poliuretanowy.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    overflow-x: hidden;
    .text_container{
      background-color: rgba(0, 0, 0, 0.75);
      border: 2px solid orangered;
      max-width: 90%;
      margin: 0 auto;
      @include tablet (700px){
        margin-left: 25px;
        max-width: 70%;
      }
    }
    h3{
      color: orangered;
      display: inline-block;
      padding: 20px;
      font-size: 3em;
      margin: 20px;
    }
    p{
      color: white;
      padding: 20px;
      margin: 20px;
      font-size: 1.3em;
      line-height: 30px;
      width: 80%;
      @include tablet (750px){
        font-size: 1.1em;
      }
      @include desktop (1100px){
        font-size: 1.3em;
      }
    }
  }

  .logo_fixed{
    position: fixed;
    top: 40px;
    right: 40px;
    background-color: rgba(255, 169, 2, 0.47);
    border-radius: 50%;
    height: 12vh;
    @include tablet (600px) {
      height: 15vh;
    }
    @include desktop (800px) {
      height: 20vh;
    }
  }

  .qube_show{
    position: fixed;
    transform: scale(0.7) rotate(45deg);
    bottom: 30px;
    right: 100px;
    width: 50px;
    height: 50px;
    border-top: 5px solid orangered;
    border-left: 5px solid orangered;
  }
  .qube_hidden{
    position: fixed;
    transform: scale(0.7) rotate(225deg);
    bottom: 25vh;
    right: 100px;
    width: 50px;
    height: 50px;
    border-top: 5px solid orangered;
    border-left: 5px solid orangered;
  }

  .hidden{
    display: none;
  }
}