.container_vertical{
  background-attachment: fixed;
  scroll-behavior: smooth;
  width: calc(100vw - 17px);
  overflow-x: hidden;

  .family{
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    overflow-x: hidden;

    .text_container{
      background-color: black;
      border: 2px solid orangered;
      margin-top: 15px;
      margin-left: 35px;
      margin-right: 15px;
    }

    h3{
      color: orangered;
      font-size: 3em;
      padding-left: 20px;
      margin: 30px 0;
      background-color: black;
    }
    p{
      padding: 20px;
      color: white;
      font-size: 1.3em;
      line-height: 30px;
    }
  }
  .mother{
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: url("../assets/queen.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    overflow-x: hidden;
    .text_container{
      background-color: rgba(255, 255, 255, 0.75);
      border: 2px solid orangered;
      margin-top: 15px;
      margin-left: 35px;
      margin-right: 15px;
    }

    h3{
      color: orangered;
      font-size: 3em;
      margin: 30px;
      width: 60vw;
    }
    p{
      padding: 20px;
      font-size: 1.3em;
      line-height: 30px;
    }
  }
  .odklady{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
    background-image: url("../assets/odklad.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    .text_container{
      margin-top: 15px;
      margin-left: 35px;
      margin-right: 15px;
      background-color: rgba(255, 255, 255, 0.75);
      border: 2px solid orangered;
    }

    h3{
      color: orangered;
      font-size: 3em;
      margin: 30px;
    }
    p{
      padding: 20px;
      font-size: 1.3em;
      line-height: 30px;
    }
  }


  .logo_fixed{
    position: fixed;
    transform: scale(0.7);
    top: 40px;
    right: 40px;
    background-color: rgba(255, 169, 2, 0.47);
    border-radius: 50%;
  }

  .qube_show{
    position: fixed;
    transform: scale(0.7);
    bottom: 30px;
    right: 100px;
    width: 50px;
    height: 50px;
    border-top: 5px solid orangered;
    border-left: 5px solid orangered;
    transform: rotate(45deg);
  }
  .qube_hidden{
    position: fixed;
    transform: scale(0.7);
    bottom: 25vh;
    right: 100px;
    width: 50px;
    height: 50px;
    border-top: 5px solid orangered;
    border-left: 5px solid orangered;
    transform: rotate(225deg);
  }


  .hidden{
    display: none;
  }
}