.container_vertical{
  background-attachment: fixed;
  scroll-behavior: smooth;
  width: calc(100vw - 17px);
  overflow-x: hidden;

  .hotel{
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: url("../assets/hotel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    .text_container{
      background-color: rgba(0, 0, 0, 0.75);
      border: 2px solid orangered;
    }
    h3{
      color: orangered;
      display: inline-block;
      padding: 20px;
      font-size: 3em;
      margin: 20px;
    }
    p{
      color: white;
      padding: 20px;
      margin: 20px;
      font-size: 1.3em;
      line-height: 30px;
      width: 60vw;
    }
  }
  .poliuretanowe{
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: url("../assets/poliuretanowy.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    overflow-x: hidden;
    .text_container{
      background-color: rgba(0, 0, 0, 0.75);
      border: 2px solid orangered;
    }
    h3{
      color: orangered;
      display: inline-block;
      padding: 20px;
      font-size: 3em;
      margin: 20px;
    }
    p{
      color: white;
      padding: 20px;
      margin: 20px;
      margin-top: 0px;
      font-size: 1.3em;
      line-height: 30px;
      width: 60vw;
    }
  }



  .logo_fixed{
    position: fixed;
    transform: scale(0.7);
    top: 40px;
    right: 40px;
    background-color: rgba(255, 169, 2, 0.47);
    border-radius: 50%;
  }

  .qube_show{
    position: fixed;
    transform: scale(0.7);
    bottom: 30px;
    right: 100px;
    width: 50px;
    height: 50px;
    border-top: 5px solid orangered;
    border-left: 5px solid orangered;
    transform: rotate(45deg);
  }
  .qube_hidden{
    position: fixed;
    transform: scale(0.7);
    bottom: 25vh;
    right: 100px;
    width: 50px;
    height: 50px;
    border-top: 5px solid orangered;
    border-left: 5px solid orangered;
    transform: rotate(225deg);
  }

  .hidden{
    display: none;
  }
}